<header class="border-b border-slate-100">
  <div class="px-3 sm:px-6 flex justify-between py-3">
    <div class="sm:flex items-center">
      <h1 class="text-2xl font-semibold text-slate-600">All Issues</h1>
      <div class="sm:ml-3 flex -space-x-1 overflow-hidden">
        <img
          class="avatar h-7 w-7"
          src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="avatar h-7 w-7"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="avatar h-7 w-7"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="avatar h-7 w-7"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="avatar h-7 w-7"
          src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
      </div>
    </div>
    <div class="flex items-center justify-between space-x-4">
      <div>
        <span
          class="
            hidden
            sm:inline-flex
            bg-slate-100
            p-1
            items-center
            space-x-2
            rounded-md
            border
          "
        >
          <button class="flex item-center rounded-md py-1 px-2">
            <hero-icon
              name="view-list"
              hostDisplay="inlineBlock"
              type="outline"
              class="w-6 h-6 text-blue-900"
            ></hero-icon>
          </button>
          <button class="bg-white flex item-center rounded-md shadow py-1 px-2">
            <hero-icon
              name="view-boards"
              hostDisplay="inlineBlock"
              type="outline"
              class="w-6 h-6 text-blue-900"
            ></hero-icon>
          </button>
        </span>
      </div>
      <div>
        <button
          class="
            bg-blue-800
            text-white
            flex
            items-center
            border
            py-2
            px-3
            space-x-2
            rounded-md
            text-md
            hover:bg-blue-700
          "
        >
          <hero-icon
            name="plus"
            display="inlineBlock"
            type="outline"
            class="h-3 w-3 font-bold"
          >
          </hero-icon>
          <span>New Issue</span>
        </button>
      </div>
    </div>
  </div>
  <div
    class="
      bg-slate-100
      px-3
      py-1
      flex
      items-center
      space-x-2
      sm:border
      sm:hidden
    "
  >
    <button
      class="
        flex flex-1
        items-center
        justify-center
        space-x-2
        rounded-sm
        p-2
        text-slate-500
      "
    >
      <hero-icon
        name="view-list"
        hostDisplay="inlineBlock"
        type="outline"
        class="w-5 h-5"
      ></hero-icon>
      <span class="text-sm font-medium">List</span>
    </button>
    <button
      class="
        bg-white
        flex flex-1
        item-center
        justify-center
        space-x-2
        rounded-sm
        shadow
        p-2
      "
    >
      <hero-icon
        name="view-boards"
        hostDisplay="inlineBlock"
        type="outline"
        class="w-5 h-5 text-slate-500"
      ></hero-icon>
      <span class="text-sm font-medium">Board</span>
    </button>
  </div>
</header>
<!-- End Header -->

<!-- Main-->
<main class="p-3 overflow-hidden">
  <div class="inline-flex h-full w-full space-x-2 overflow-x-auto">
    <!-- Column-->
    <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
      <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">Backlog</h3>
      <div class="overflow-auto h-full px-3 pb-3">
        <ul class="mt-2 flex flex-col space-y-2">
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-violet-100
                      text-violet-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                    <span>Design</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Column-->
    <!-- Column-->
    <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
      <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">In Progress</h3>
      <div class="overflow-auto h-full px-3 pb-3">
        <ul class="mt-2 flex flex-col space-y-2">
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-violet-100
                      text-violet-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                    <span>Design</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Column-->
    <!-- Column-->
    <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
      <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">In Review</h3>
      <div class="overflow-auto h-full px-3 pb-3">
        <ul class="mt-2 flex flex-col space-y-2">
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-violet-100
                      text-violet-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                    <span>Design</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Column-->
    <!-- Column-->
    <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
      <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">Completed</h3>
      <div class="overflow-auto h-full px-3 pb-3">
        <ul class="mt-2 flex flex-col space-y-2">
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-violet-100
                      text-violet-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                    <span>Design</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="block bg-white rounded-md shadow p-5">
              <div class="flex justify-between">
                <p class="text-sm font-normal text-slate-900 leading-snug">
                  Add discount code to checkout page
                </p>
                <span class="ml-2">
                  <img
                    class="avatar h-6 w-6"
                    src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </span>
              </div>
              <div class="flex justify-between mt-2 items-center">
                <time datetime="14-09-2022" class="text-sm text-slate-400"
                  >Sep 14</time
                >
                <div>
                  <div
                    class="
                      flex
                      items-center
                      list-disc list-inside
                      bg-teal-100
                      text-teal-800 text-sm
                      px-2
                      rounded
                    "
                  >
                    <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                    <span>Feature Request</span>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Column-->
  </div>
</main>
<!-- End Main -->
