<div class="h-screen w-full flex overflow-hidden">
  <!-- SIDEBAR -->
  <div
    class="
      hidden
      sidebar-section
      lg:flex
      flex-col
      w-64
      py-4
      bg-slate-50
      border-r border-slate-100
    "
  >
    <span class="px-8 block">
      <svg
        viewBox="0 0 560 584"
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        class="h-9 w-9 text-blue-700"
        fill="currentColor"
      >
        <path
          d="M98.074 187.098c-1.484.07-2.974.105-4.472.105-51.66 0-93.603-41.941-93.603-93.6C0 41.941 41.942 0 93.602 0s93.602 41.942 93.602 93.602c0 4.236-.282 8.406-.828 12.488-35.867 19.078-66.289 47.069-88.302 81.008ZM321.805 107.29c131.392 0 238.065 106.671 238.065 238.062 0 131.392-106.673 238.065-238.065 238.065-131.39 0-238.064-106.673-238.064-238.065 0-131.39 106.673-238.063 238.064-238.063Zm24.584 101.328H296.57V497.99h49.818V208.618Zm95.433 0h-49.819v217.12h49.819v-217.12Zm-190.278 0h-49.818v152.825h49.818V208.618Z"
        />
      </svg>
    </span>

    <nav class="mt-8 h-full flex-1 overflow-auto px-8">
      <h2 class="text-xs font-semibold text-slate-400 uppercase tracking-wide">
        Issues
      </h2>
      <div class="mt-2 -mx-3">
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            px-3
            py-2
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            rounded-lg
          "
        >
          <span class="text-sm font-medium">All</span>
          <span class="text-xs font-semibold">36</span></a
        >
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            hover:bg-slate-200
            hover:text-slate-00
            focus:text-slate-600
            focus:bg-slate-200
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Assigned to me</span>
          <span class="text-xs font-semibold">2</span></a
        >
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Created by me</span>
          <span class="text-xs font-semibold">1</span></a
        >

        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Archived</span>
          <span class="text-xs font-semibold">1</span></a
        >
      </div>

      <h2
        class="
          mt-8
          text-xs
          font-semibold
          text-slate-400
          uppercase
          tracking-wide
        "
      >
        Tags
      </h2>
      <div class="mt-2 -mx-3">
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            py-2
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Bug</span>
          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Feature request</span>
          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Marketing</span>
          <span class="text-xs font-semibold"></span
        ></a>

        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">V2.0</span>
          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Enhancement</span>
          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            text-slate-500
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <span class="text-sm font-medium">Design</span>
          <span class="text-xs font-semibold"></span
        ></a>
        <button
          class="
            ml-2
            mt-2
            flex
            items-center
            text-sm
            font-medium
            text-blue-500
            hover:text-blue-700
          "
        >
          <hero-icon
            name="plus"
            hostDisplay="inlineBlock"
            type="outline"
            class="w-4 h-4"
          ></hero-icon>

          <span class="ml-1">New Tag</span>
        </button>
      </div>

      <div class="mt-5 -mx-3">
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            py-2
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            rounded-lg
          "
        >
          <div class="inline-flex">
            <hero-icon
              name="user-group"
              display="inline"
              type="outline"
              class="h-5 w-5 mr-2 text-slate-500"
            ></hero-icon>
            <span class="text-sm font-medium">Team</span>
          </div>
          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            py-2
            rounded-lg
          "
        >
          <div class="inline-flex">
            <hero-icon
              name="document-report"
              display="inline"
              type="outline"
              class="h-5 w-5 mr-2 text-slate-500"
            ></hero-icon>
            <span class="text-sm font-medium">Reporting</span>
          </div>

          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <div class="inline-flex">
            <hero-icon
              name="trending-up"
              display="inline"
              type="outline"
              class="h-5 w-5 mr-2 text-slate-500"
            ></hero-icon>
            <span class="text-sm font-medium">Perfomance</span>
          </div>
          <span class="text-xs font-semibold"></span
        ></a>
      </div>
    </nav>
    <div class="mt-3 px-8 py-4 border-t">
      <button
        class="text-blue-500 items-center font-medium text-md flex space-x-3"
      >
        <hero-icon
          name="logout"
          display="inlineBlock"
          type="outline"
          class="h-5 w-5"
        ></hero-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
  <!-- End SIDEBAR -->
  <!-- Content SECTION-->
  <div class="main-section flex-1 flex flex-col min-w-0 bg-white">
    <!-- Header-->
    <header class="border-b border-slate-100">
      <div
        class="
          px-6
          flex
          justify-between
          items-center
          border-b
          py-2
          border-slate-200
        "
      >
        <div class="inline-flex">
          <button
            class="block lg:hidden p-2 mr-3 rounded-md focus:bg-slate-200"
          >
            <hero-icon
              name="menu-alt-2"
              display="inlineBlock"
              type="outline"
              class="h-6 w-6 text-slate-500"
            ></hero-icon>
          </button>
          <div class="searc-container relative">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <hero-icon
                name="search"
                display="inlineBlock"
                type="outline"
                class="h-5 w-5 text-slate-500"
              ></hero-icon>
            </span>
            <input
              placeholder="Search"
              class="rounded-md border border-slate-400 text-sm py-2 pl-11 pr-4"
            />
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button class="text-slate-500 hover:bg-slate-200 p-2 rounded-full">
            <hero-icon
              name="bell"
              display="inlineBlock"
              type="outline"
              class="h-5 w-5"
            ></hero-icon>
          </button>

          <button class="ml-5">
            <img
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              class="avatar"
              alt="Your Profile image"
            />
          </button>
        </div>
      </div>
      <div class="px-3 sm:px-6 flex justify-between py-3">
        <div class="sm:flex items-center">
          <h1 class="text-2xl font-semibold text-slate-600">All Issues</h1>
          <div class="sm:ml-3 flex -space-x-1 overflow-hidden">
            <img
              class="avatar h-7 w-7"
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="avatar h-7 w-7"
              src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="avatar h-7 w-7"
              src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="avatar h-7 w-7"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <img
              class="avatar h-7 w-7"
              src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
          </div>
        </div>
        <div class="flex items-center justify-between space-x-4">
          <div>
            <span
              class="
                hidden
                sm:inline-flex
                bg-slate-100
                p-1
                items-center
                space-x-2
                rounded-md
                border
              "
            >
              <button class="flex item-center rounded-md py-1 px-2">
                <hero-icon
                  name="view-list"
                  hostDisplay="inlineBlock"
                  type="outline"
                  class="w-6 h-6 text-blue-900"
                ></hero-icon>
              </button>
              <button
                class="bg-white flex item-center rounded-md shadow py-1 px-2"
              >
                <hero-icon
                  name="view-boards"
                  hostDisplay="inlineBlock"
                  type="outline"
                  class="w-6 h-6 text-blue-900"
                ></hero-icon>
              </button>
            </span>
          </div>
          <div>
            <button
              class="
                bg-blue-800
                text-white
                flex
                items-center
                border
                py-2
                px-3
                space-x-2
                rounded-md
                text-md
                hover:bg-blue-700
              "
            >
              <hero-icon
                name="plus"
                display="inlineBlock"
                type="outline"
                class="h-3 w-3 font-bold"
              >
              </hero-icon>
              <span>New Issue</span>
            </button>
          </div>
        </div>
      </div>
      <div
        class="
          bg-slate-100
          px-3
          py-1
          flex
          items-center
          space-x-2
          sm:border
          sm:hidden
        "
      >
        <button
          class="
            flex flex-1
            items-center
            justify-center
            space-x-2
            rounded-sm
            p-2
            text-slate-500
          "
        >
          <hero-icon
            name="view-list"
            hostDisplay="inlineBlock"
            type="outline"
            class="w-5 h-5"
          ></hero-icon>
          <span class="text-sm font-medium">List</span>
        </button>
        <button
          class="
            bg-white
            flex flex-1
            item-center
            justify-center
            space-x-2
            rounded-sm
            shadow
            p-2
          "
        >
          <hero-icon
            name="view-boards"
            hostDisplay="inlineBlock"
            type="outline"
            class="w-5 h-5 text-slate-500"
          ></hero-icon>
          <span class="text-sm font-medium">Board</span>
        </button>
      </div>
    </header>
    <!-- End Header -->

    <!-- Main-->
    <main class="p-3 overflow-hidden">
      <div class="inline-flex h-full w-full space-x-2 overflow-x-auto">
        <!-- Column-->
        <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
          <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">Backlog</h3>
          <div class="overflow-auto h-full px-3 pb-3">
            <ul class="mt-2 flex flex-col space-y-2">
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-violet-100
                          text-violet-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                        <span>Design</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Column-->
        <!-- Column-->
        <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
          <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">
            In Progress
          </h3>
          <div class="overflow-auto h-full px-3 pb-3">
            <ul class="mt-2 flex flex-col space-y-2">
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-violet-100
                          text-violet-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                        <span>Design</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Column-->
        <!-- Column-->
        <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
          <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">In Review</h3>
          <div class="overflow-auto h-full px-3 pb-3">
            <ul class="mt-2 flex flex-col space-y-2">
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-violet-100
                          text-violet-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                        <span>Design</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Column-->
        <!-- Column-->
        <div class="flex-shrink-0 w-80 bg-slate-100 rounded-md overflow-hidden">
          <h3 class="text-sm font-medium text-slate-500 p-3 pb-1">Completed</h3>
          <div class="overflow-auto h-full px-3 pb-3">
            <ul class="mt-2 flex flex-col space-y-2">
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-violet-100
                          text-violet-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-violet-400 mr-1"></span>
                        <span>Design</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="block bg-white rounded-md shadow p-5">
                  <div class="flex justify-between">
                    <p class="text-sm font-normal text-slate-900 leading-snug">
                      Add discount code to checkout page
                    </p>
                    <span class="ml-2">
                      <img
                        class="avatar h-6 w-6"
                        src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="flex justify-between mt-2 items-center">
                    <time datetime="14-09-2022" class="text-sm text-slate-400"
                      >Sep 14</time
                    >
                    <div>
                      <div
                        class="
                          flex
                          items-center
                          list-disc list-inside
                          bg-teal-100
                          text-teal-800 text-sm
                          px-2
                          rounded
                        "
                      >
                        <span class="h-1 w-1 rounded bg-teal-400 mr-1"></span>
                        <span>Feature Request</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Column-->
      </div>
    </main>
    <!-- End Main -->
  </div>
  <!-- END Content SECTION -->
</div>
