<div
  class="
    h-full
    bg-slate-100
    flex
    items-center
    justify-center
    py-12
    px-4
    sm:px-6
    lg:px-8
  "
>
  <div class="w-full max-w-md">
    <div class="flex-1 p-3">
      <div class="flex justify-center mb-8">
        <svg
          viewBox="0 0 560 584"
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          class="h-20 w-20 text-blue-700"
          fill="currentColor"
        >
          <path
            d="M98.074 187.098c-1.484.07-2.974.105-4.472.105-51.66 0-93.603-41.941-93.603-93.6C0 41.941 41.942 0 93.602 0s93.602 41.942 93.602 93.602c0 4.236-.282 8.406-.828 12.488-35.867 19.078-66.289 47.069-88.302 81.008ZM321.805 107.29c131.392 0 238.065 106.671 238.065 238.062 0 131.392-106.673 238.065-238.065 238.065-131.39 0-238.064-106.673-238.064-238.065 0-131.39 106.673-238.063 238.064-238.063Zm24.584 101.328H296.57V497.99h49.818V208.618Zm95.433 0h-49.819v217.12h49.819v-217.12Zm-190.278 0h-49.818v152.825h49.818V208.618Z"
          />
        </svg>
      </div>
      <div
        class="w-full max-w-md space-y-8 bg-white p-4 px-8 shadow rounded-md"
      >
        <div>
          <h2
            class="
              mt-6
              text-center text-2xl
              font-bold
              tracking-tight
              text-slate-900
            "
          >
            Create your account
          </h2>
        </div>
        <div>
          <button
            class="
              p-1
              border border-slate-800
              hover:bg-slate-900
              focus:bg-slate-700
              focus:text-white
              hover:text-white
              rounded
              flex
              justify-center
              items-center
              space-x-2
              w-full
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              viewBox="0 0 210 210"
              style="enable-background: new 0 0 210 210"
              xml:space="preserve"
              fill="currentColor"
              class="h-4 w-4"
            >
              <path
                d="M0,105C0,47.103,47.103,0,105,0c23.383,0,45.515,7.523,64.004,21.756l-24.4,31.696C133.172,44.652,119.477,40,105,40  c-35.841,0-65,29.159-65,65s29.159,65,65,65c28.867,0,53.398-18.913,61.852-45H105V85h105v20c0,57.897-47.103,105-105,105  S0,162.897,0,105z"
              />
            </svg>
            <span>Sign up with Google</span>
          </button>
        </div>
        <div
          class="
            flex
            items-center
            my-4
            before:flex-1
            before:border-t before:border-slate-300
            before:mt-0.5
            after:flex-1
            after:border-t after:border-slate-300
            after:mt-0.5
          "
        >
          <p class="text-center text-sm font-medium mx-4 mb-0">OR</p>
        </div>
        <form class="mt-8 space-y-6" action="#" method="POST">
          <div class="shadow-sm">
            <div>
              <label for="full-name" class="block text-sm">Full Name *</label>
              <input
                id="full-name"
                name="fullName"
                type="text"
                required
                class="
                  relative
                  block
                  w-full
                  appearance-none
                  rounded-md
                  border border-slate-300
                  px-3
                  py-2
                  text-slate-900
                  placeholder-slate-500
                  focus:z-10
                  focus:border-indigo-500
                  focus:outline-none
                  focus:ring-indigo-500
                  sm:text-sm
                "
                placeholder="Enter your name"
              />
            </div>
          </div>
          <div class="shadow-sm">
            <div>
              <label for="password" class="text-sm">Password*</label>
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="
                  relative
                  block
                  w-full
                  appearance-none
                  rounded-md
                  border border-slate-300
                  px-3
                  py-2
                  text-slate-900
                  placeholder-slate-500
                  focus:z-10
                  focus:border-indigo-500
                  focus:outline-none
                  focus:ring-indigo-500
                  sm:text-sm
                "
                placeholder="Password"
              />
            </div>
          </div>
          <div class="shadow-sm">
            <div>
              <label for="email-address" class="text-sm">Email address*</label>
              <input
                id="email-address"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="
                  relative
                  block
                  w-full
                  appearance-none
                  rounded-md
                  border border-slate-300
                  px-3
                  py-2
                  text-slate-900
                  placeholder-slate-500
                  focus:z-10
                  focus:border-indigo-500
                  focus:outline-none
                  focus:ring-indigo-500
                  sm:text-sm
                "
                placeholder="Email address"
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="
                group
                relative
                flex
                w-full
                justify-center
                rounded-md
                border border-transparent
                bg-slate-800
                py-2
                px-4
                text-sm
                font-medium
                text-white
                hover:bg-slate-700
                focus:outline-none
                focus:ring-2
                focus:bg-slate-500
                focus:ring-offset-2
              "
            >
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <!-- Heroicon name: mini/lock-closed -->
                <hero-icon
                  name="lock-closed"
                  type="solid"
                  display="inlineLBock"
                  class="w-4 h-4"
                ></hero-icon>
              </span>
              Sign me up
            </button>
          </div>
          <div class="text-slate-700 flex space-x-3 items-center">
            <p>Already have an account?</p>
            <a href="login" class="font-medium focus:bg-gray-200 p-1 rounded">
              Login
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
