<div class="h-screen w-full flex overflow-hidden">
  <!-- SIDEBAR -->
  <div
    class="
      hidden
      sidebar-section
      lg:flex
      flex-col
      w-64
      py-4
      bg-slate-50
      border-r border-slate-100
    "
  >
    <span class="px-8 block">
      <svg
        viewBox="0 0 560 584"
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        class="h-9 w-9 text-blue-700"
        fill="currentColor"
      >
        <path
          d="M98.074 187.098c-1.484.07-2.974.105-4.472.105-51.66 0-93.603-41.941-93.603-93.6C0 41.941 41.942 0 93.602 0s93.602 41.942 93.602 93.602c0 4.236-.282 8.406-.828 12.488-35.867 19.078-66.289 47.069-88.302 81.008ZM321.805 107.29c131.392 0 238.065 106.671 238.065 238.062 0 131.392-106.673 238.065-238.065 238.065-131.39 0-238.064-106.673-238.064-238.065 0-131.39 106.673-238.063 238.064-238.063Zm24.584 101.328H296.57V497.99h49.818V208.618Zm95.433 0h-49.819v217.12h49.819v-217.12Zm-190.278 0h-49.818v152.825h49.818V208.618Z"
        />
      </svg>
    </span>

    <nav class="mt-8 h-full flex-1 overflow-auto px-8">
      <app-tasks></app-tasks>
      <app-tag></app-tag>
      <div class="mt-5 -mx-3">
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            py-2
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            rounded-lg
          "
        >
          <div class="inline-flex">
            <hero-icon
              name="user-group"
              display="inline"
              type="outline"
              class="h-5 w-5 mr-2 text-slate-500"
            ></hero-icon>
            <span class="text-sm font-medium">Team</span>
          </div>
          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            px-3
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            py-2
            rounded-lg
          "
        >
          <div class="inline-flex">
            <hero-icon
              name="document-report"
              display="inline"
              type="outline"
              class="h-5 w-5 mr-2 text-slate-500"
            ></hero-icon>
            <span class="text-sm font-medium">Reporting</span>
          </div>

          <span class="text-xs font-semibold"></span
        ></a>
        <a
          href="#"
          class="
            flex
            justify-between
            items-center
            text-slate-500
            hover:bg-slate-200
            hover:text-slate-600
            focus:text-slate-600
            focus:bg-slate-200
            px-3
            py-2
            rounded-lg
          "
        >
          <div class="inline-flex">
            <hero-icon
              name="trending-up"
              display="inline"
              type="outline"
              class="h-5 w-5 mr-2 text-slate-500"
            ></hero-icon>
            <span class="text-sm font-medium">Perfomance</span>
          </div>
          <span class="text-xs font-semibold"></span
        ></a>
      </div>
    </nav>
    <div class="mt-3 px-8 py-4 border-t">
      <button
        (click)="logout()"
        class="text-blue-500 items-center font-medium text-md flex space-x-3"
      >
        <hero-icon
          name="logout"
          display="inlineBlock"
          type="outline"
          class="h-5 w-5"
        ></hero-icon>
        <span>Logout</span>
      </button>
    </div>
  </div>
  <!-- End SIDEBAR -->
  <!-- Content SECTION-->
  <div class="main-section flex-1 flex flex-col min-w-0 bg-white">
    <!-- Header-->
    <header class="">
      <div class="px-6 flex justify-between items-center py-2 border-slate-200">
        <div class="inline-flex">
          <button
            class="block lg:hidden p-2 mr-3 rounded-md focus:bg-slate-200"
          >
            <hero-icon
              name="menu-alt-2"
              display="inlineBlock"
              type="outline"
              class="h-6 w-6 text-slate-500"
            ></hero-icon>
          </button>
          <div class="searc-container relative">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <hero-icon
                name="search"
                display="inlineBlock"
                type="outline"
                class="h-5 w-5 text-slate-500"
              ></hero-icon>
            </span>
            <input
              placeholder="Search"
              class="rounded-md border border-slate-400 text-sm py-2 pl-11 pr-4"
            />
          </div>
        </div>
        <div class="flex items-center justify-between">
          <button class="text-slate-500 hover:bg-slate-200 p-2 rounded-full">
            <hero-icon
              name="bell"
              display="inlineBlock"
              type="outline"
              class="h-5 w-5"
            ></hero-icon>
          </button>

          <button class="ml-5">
            <img
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              class="avatar"
              alt="Your Profile image"
            />
          </button>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Main-->
    <main class="p-3 overflow-hidden h-full">
      <router-outlet></router-outlet>
    </main>
    <!-- End Main -->
  </div>
  <!-- END Content SECTION -->
</div>
