<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative inline-block text-left">
  <div>
    <button
      type="button"
      class="
        inline-flex
        w-full
        justify-center
        rounded-md
        border border-gray-300
        bg-white
        px-4
        py-2
        text-sm
        font-medium
        text-gray-700
        shadow-sm
        hover:bg-gray-50
        focus:outline-none
        focus:ring-2
        focus:ring-indigo-500
        focus:ring-offset-2
        focus:ring-offset-gray-100
      "
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      (click)="isOpened = !isOpened"
    >
      Choose tag color...
      <hero-icon
        name="chevron-down"
        type="outline"
        heroDisplay="inlineBlock"
        class="w-4 h-4"
      >
      </hero-icon>
    </button>
  </div>

  <!--
        Dropdown menu, show/hide based on menu state.
    
        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
  <div
    class="
      absolute
      left-0
      z-10
      mt-2
      w-56
      origin-top-right
      divide-y divide-gray-100
      rounded-md
      bg-white
      shadow-lg
      ring-1 ring-black ring-opacity-5
      focus:outline-none
    "
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
    *ngIf="isOpened"
  >
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <a
        href="#"
        class="
          text-gray-700
          px-4
          py-2
          text-sm
          flex
          items-center
          justify-between
          hover:bg-slate-200
        "
        (click)="selected($event)"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
      >
        <span>Yellow</span>
        <span class="w-3 h-3 rounded bg-yellow-300 block"></span>
      </a>
      <a
        href="#"
        class="
          text-gray-700
          px-4
          py-2
          text-sm
          flex
          items-center
          justify-between
          hover:bg-slate-200
        "
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        (click)="selected($event)"
      >
        <span>Red</span>
        <span class="w-3 h-3 rounded bg-red-300 block"></span>
      </a>
      <a
        href="#"
        class="
          text-gray-700
          px-4
          py-2
          text-sm
          flex
          items-center
          justify-between
          hover:bg-slate-200
        "
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        (click)="selected($event)"
      >
        <span>Red</span>
        <span class="w-3 h-3 rounded bg-green-300 block"></span>
      </a>
      <a
        href="#"
        class="
          text-gray-700
          px-4
          py-2
          text-sm
          flex
          items-center
          justify-between
          hover:bg-slate-200
        "
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        (click)="selected($event)"
      >
        <span>Blue</span>
        <span class="w-3 h-3 rounded bg-blue-300 block"></span>
      </a>
      <a
        href="#"
        class="
          text-gray-700
          px-4
          py-2
          text-sm
          flex
          items-center
          justify-between
          hover:bg-slate-200
        "
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        (click)="selected($event)"
      >
        <span>Gray</span>
        <span class="w-3 h-3 rounded bg-gray-300 block"></span>
      </a>
    </div>
  </div>
</div>
